@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    2017 Fake Street<br />
    Davie, FL 33324<br />
    <abbr title="Phone">P:</abbr>
    954.555.9999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:fale@email.com">Fale@email.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@email.com">Marketing@email.com</a>
</address>
